body  { background-color: #e1e1e1; margin: 2px; padding: 0 }
form {margin:0; padding:0}

td, tr {font:12px tahoma, arial, helvetica, sans-serif; color:#38352D; vertical-align:top;  text-align:left;}

.end{ color:#38352D; text-decoration:none; font-size:12px;}
.end a{ color:#38352D; text-decoration:none; font-size:12px;}
.end a:hover{ color:#FF352D; text-decoration:underline; font-size:12px;}

.m1{ background-image:url(images/m1.jpg); background-repeat:no-repeat;}
.m1m{ background-image:url(images/m1m.jpg); background-repeat:no-repeat;}
.m2{ background-image:url(images/m2.jpg); background-repeat:no-repeat;}
.m2m{ background-image:url(images/m2m.jpg); background-repeat:no-repeat;}
.m3{ background-image:url(images/m3.jpg); background-repeat:no-repeat;}
.m3m{ background-image:url(images/m3m.jpg); background-repeat:no-repeat;}
.m4{ background-image:url(images/m4.jpg); background-repeat:no-repeat;}
.m4m{ background-image:url(images/m4m.jpg); background-repeat:no-repeat;}
.m5{ background-image:url(images/m5.jpg); background-repeat:no-repeat;}
.m5m{ background-image:url(images/m5m.jpg); background-repeat:no-repeat;}


.top td{color:#FFFFFF; text-decoration:none; font-size:12px;}
.top td b{color:#38352D; text-decoration:none; font-size:12px; font-weight:400;}
.top td a{color:#FFFFFF; text-decoration:none; font-size:12px;}
.top td a:hover{text-decoration:underline;}



.txt1 td { color:#38352D; text-decoration:none}
.txt1 td strong{ color:#33A7FF; font-weight:400;}
.txt1 td b{ color:#38352D; font-weight:900;}
.txt1 td strong a{ color:#003E7D; font-weight:900; text-decoration:underline;  font-weight:400;}
.txt1 td strong a:hover{ color:#003E7D; font-weight:900; text-decoration:none}
.txt1 td span a{color:#9D080D; text-decoration:none; font-size:14px; font-weight:900}
.txt1 td span a:hover{text-decoration:underline; color:#9D080D; font-size:14px; font-weight:900;}
.x a{color:#33A7FF; text-decoration:none; font-weight:400}
.x a:hover{text-decoration:underline; color:#33A7FF; font-weight:400;}
.x1 a{color:#9D080D; text-decoration:none; font-weight:400; font-size:9px;}
.x1 a:hover{text-decoration:underline; color:#9D080D; font-weight:400; font-size:9px;}

.txt2 td { color:#38352D; text-decoration:none}
.txt2 td strong{ color:#33A7FF;  text-decoration:none; font-size:11px; font-weight:400;}
.txt2 td b{ color:#33A7FF;  text-decoration:none; font-size:11px; font-weight:900;}
.txt2 td strong a{ color:#9D080D;  text-decoration:none; font-size:9px; font-weight:400}
.txt2 td strong a:hover{ color:#9D080D; text-decoration:underline;  font-size:9px;  font-weight:400}
.txt2 td b a{ color:#9D080D;  text-decoration:none; font-size:14px; font-weight:900}
.txt2 td b a:hover{ color:#9D080D; text-decoration:underline;  font-size:14px;  font-weight:900}


.r1 ul { margin:0; padding:0; list-style:none;}
.r1 li { background:url(images/ch_1.gif) center left no-repeat; margin:0 0 0 0; padding:1px 0 0 11px; font-weight:900;}
.r1 li a {line-height:12px; color:#003E7D; text-decoration:underline; font-weight:400; background-position:left top; font-weight:900;}
.r1 li a:hover { text-decoration:none;}

.r2 ul { margin:0; padding:0; list-style:none;}
.r2 li { background:url(images/ch_11.gif) center left no-repeat; margin:0 0 0 0; padding:1px 0 0 11px;}
.r2 li a {line-height:12px; color:#33A7FF; text-decoration:underline; font-weight:400; background-position:left top;}
.r2 li a:hover { text-decoration:none;}

.r3 ul { margin:0; padding:0; list-style:none;}
.r3 li { background:url(images/ch_11.gif) center left no-repeat; margin:0 0 0 0; padding:1px 0 0 11px; font-weight:900}
.r3 li a {line-height:12px; color:#33A7FF; text-decoration:underline; font-weight:400; background-position:left top; font-weight:900}
.r3 li a:hover { text-decoration:none;}

.ins a{ color:#33A7FF; text-decoration:underline}
.ins a:hover{ color:#33A7FF; text-decoration:none;}

input{height:20px;  color:#636363; padding:2px 0 1px 6px; border:1px solid #929292; font-size:12px;}
textarea{ font-family:tahom, arial, helvetica, sans-serifwidth; width:182px; height:153px; color:#636363; padding:1px 0 1px 6px;  border:1px solid; font-size:11px; border:1px solid #929292; font-size:12px; }

.kn a{font-size:12px; line-height:13px; color:#9D080D; vertical-align:top; text-align:left; text-decoration:none;}
.kn a:hover{ text-decoration:underline}

