body {color:#000; background:none; font-family:"Times New Roman", Times, serif; font-size:12pt;} 
a {text-decoration:underline; color:#0000ff}
#noprint, #navmenus {display:none} 
.no_print {display:none}