














/* =DEPRECATED STYLES
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/



/*88888888888 MISC CONTENT STYLES 88888888888*/

	#dcp-cnt TH {background:none;color:#444E61}
	#fcp-cnt TH {background:none;color:#444E61}


/* Hosted Exchange Styles */
	.subformBox {padding:0}
		.subformBox input.radio {display:block;float:left;margin-top:5px}
		.subformBox label {display:block;float:left;margin:7px 0 5px 0}
		.subformBox select, .subformBox input.text {display:block;margin:0 25px;clear:both;width:160px}
		.subformBox input.text {margin-bottom:0}
		.subformBox p {margin:6px 0 10px 25px}
		.subformBox label.extDomainLabel {padding:0}

	#free-dns {background:none;padding-left:10px;margin:10px 0px} 
		#free-dns p {margin-top:0}
		#free-dns h3 {font-size:16px;margin-bottom:4px}
		#free-dns h4 {font-size:12px;margin-bottom:4px}
		#free-dns .alert {color:#FF0000}
		#free-dns .success {color:#669700}

	.acctDoms {border:2px #345699 solid;margin:0 15px}
		.acctDoms h2 {padding: 5px 0 5px 5px;margin-top:0;color:#fff;font-size:11px;background:#345699}
		.acctDoms p {margin: 0 0 12px 12px}
		.acctDoms ul {margin-bottom:0}
	
	.addDoms {margin-bottom:20px}
		.addDoms input {float:left;margin:2px 6px 0 12px}
		.addDoms h2 {color:#fff}
	
	.domNotFound {padding:20px}	
		.domNotFound h2 {margin:0;font-size:12px}
		.domNotFound h3 {margin-top:0}
		.domNotFound ul {text-align:left;margin:10px 20px 0 0;padding:0;list-style:none}
		.domNotFound ul li {background:transparent url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px;padding-left:15px;margin:6px 0 0 0}
		.domNotFound .dnsSetup {padding:10px;border:1px #ccc solid;margin:15px 15px 15px 0}

/* Common Hex Styles */
	#free-dns ul, .acctDoms ul {list-style:none;margin:0}	
		#free-dns ul li, .acctDoms ul li {margin-left:0;background:transparent url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat left 15%;padding:0 0 10px 10px}	
	.acctDoms h3, .addDoms h3 {font-size:12px;color:#000;margin:12px 0 6px 12px}

/* Name Server Syncronization Status */
	#regNS {text-align:left;margin:10px 10px 10px 8px;width:600px;padding:8px;background:#e1e1e1;text-align:left}
		#regNS h5 {margin-top:10px;text-align:left;text-transform:uppercase}
		#regNS table#atRegistry {margin: 0 0 20px 0;text-align:left;background:#e1e1e1;border-collapse:collapse;border:0}
		#regNS table#atRegistry tr {padding:10px 0;text-align:left;border:0}
		#regNS table#atRegistry th {width:130px;border:0;padding:6px 6px 6px 0;text-align:left}
		#regNS table#atRegistry td {padding:6px;border:0;text-align:left;border:0}

/* Bulk VAS Styles */
	.vas-content {float:left;width:550px;background:transparent url('/images/e3/e3_bg_edge.gif') repeat-x 0 0;padding-top:10px;margin-top:10px}

/* Bulk VAS Tool Marquees */
	.prod-marquee-wrap {background:transparent url('/images/e3/dotTile.gif') repeat-x bottom left}
		.prod-marquee {padding:0 0 10px 50px}
		.prod-marquee h2 {margin:0 0 0 0;text-transform:uppercase;font-size:18px;font-weight:bold}
		.prod-marquee p.startAt {margin:0}
		.prod-marquee p.startAt span {font-weight:bold;font-size:14px}

/* DNS Service Page */
	#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee {background:transparent url('/images/e3/e3_icon100_DOM.gif') no-repeat 0 0;padding:10px 0 10px 110px}
		#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee h2 {font-size:21px;margin-bottom:0}
		#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee p {margin:0 0 8px 0}
		#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee p.tagline {margin:-3px 0 5px 20px;font-size:16px;font-weight:bold;font-style:italic}
		#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee p.startAt {float:right;margin:-3px 0 0 0}
		#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee p.startAt span {font-size:20px}
		#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee ul {margin:5px 0 0 0;padding:0;float:left}
		#dmn.wrapper #dns-svc.prod-marquee-wrap .prod-marquee ul li {display:inline;list-style-type:none;padding:0 8px 0 8px;background:transparent url('/images/e3/e3_dotarrow_rht_HOS.gif') no-repeat 0 4px}

/* Domain Renewal, Domain Registration marquees */
	#dmn.wrapper .prod-marquee {background:transparent url('/images/e3/e3_icon42_DOM.gif') no-repeat 0 0}
		#dmn.wrapper .prod-marquee h2, #dmn.wrapper .prod-marquee p.tagline, #dmn.wrapper .prod-marquee p.startAt span  {color:#FF6D01}

/* ID Protect marquee */
	#idp.wrapper .prod-marquee {background:transparent url('/images/e3/e3_icon42_IDP.gif') no-repeat 0 0}
		#idp.wrapper .prod-marquee h2 {font-size:18px}
		#idp.wrapper .prod-marquee h2, #idp.wrapper .prod-marquee p.tagline {color:#4FA12D}

/* ID Protect Setting */
	#IDProtectSetting {position:relative;background:#DFF8D5 url('/images/e3/e3_icon50_IDP.gif') no-repeat 10px 10px;width:420px;border:1px solid #4FA12D;padding:0 10px 10px 70px;margin:0}
		#IDProtectSetting div {overflow:hidden;margin-bottom:4px}
		#IDProtectSetting div input {float:left;display:block}
		#IDProtectSetting div label {width:400px;display:block}
		#IDProtectSetting div.clear {clear:both}
		#IDProtectSetting h3 {margin:10px 0 3px 0;color:#4FA12D;font-weight:bold}
		#IDProtectSetting h3 span {font-style:italic;font-weight:normal}
		#IDProtectSetting h3 strong {font-style:italic;font-weight:bold}
		#IDProtectSetting span.smallText {color:#4FA12D} 
		#IDProtectSetting p {margin:0 0 10px 0}

/* Quick DNS Setup Guide */
	.dns-guide {background:#ffcf33}
	.dns-guide h3 {margin:7px 10px 10px 10px;width:90px;float:left;color:#c09107}

/* Quick DNS Setup Guide Mozilla */
	.dns-guide ul {float:right;margin:8px 0 0 0;width:430px;padding:0;display:inline;list-style-type:none}
		.dns-guide ul li {display:block;float:left;vertical-align:top;list-style-type:none;font-size:11px;color:#c09107;font-weight:bold;padding:2px 10px 10px 35px}
		.dns-guide li.step1 {background:transparent url('/images/e3/dns-step1.gif') no-repeat 0 0;width:100px}
		.dns-guide li.step2 {background:transparent url('/images/e3/dns-step2.gif') no-repeat 0 0;width:100px}
		.dns-guide li.step3 {background:transparent url('/images/e3/dns-step3.gif') no-repeat 0 0;width:80px}
	.dns-setup {text-align:right;padding:3px;background:#FFFACC;border-bottom:1px #254685 solid}
		.dns-setup label {padding-left:10px;background:transparent url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat left 50%;font-size:12px;color:#ff6600;font-weight:bold;margin:3px 4px 0 0}
		.dns-setup #dns-hosting {margin:2px 2px 0 0}
		.dns-setup input, .dns-setup label {display:block;float:right}
	p.setup-caveat {width:290px;float:right;margin:0}
	.dns-svc-blurbs h3 {margin:20px 0 2px 0;padding-bottom:0}
		.dns-svc-blurbs p {margin:0 0 10px 0}

/* Name Server Table */
	.dns-svc-blurbs table.ns-map {float:left;width:300px;margin-right:6px;border-bottom:3px #aaa solid}
		.dns-svc-blurbs table {border-collapse:collapse}
		.dns-svc-blurbs  th {background:#aaa;color:#fff}
		.dns-svc-blurbs th {padding:2px}
		.dns-svc-blurbs  td {padding:6px 6px 6px 2px}
		.dns-svc-blurbs tr.alt td {background:#eee}
	.vas-sidebar {float:right;width:170px;padding:0 0 10px 0;margin-top:10px}
		.vas-sidebar .prodWrap {background:#F5F7F9 url('/images/e3/e3_bg_prod.gif') repeat-x top left;width:164px;padding:2px;margin:0 0 10px 0}
		.vas-sidebar .prodWrap .prod {margin:3px 0 0 0;text-align:left;background:#F5F7F9;width:163px;padding:2px 0 2px 0}
	.prod h3 {margin-top:0}
		.prod p {margin:8px 4px 12px 4px;text-align:left}
		.prod p.price {margin:8px 4px 0 4px;text-align:right}
		.prod p.price span {font-size:18px;font-weight:bold}
		.prod ul {margin:4px 0 4px 0;padding:0 0 0 0}
		.prod ul li {padding-left:15px;background:transparent url('/images/e3/e3_dotarrow_rht_blu.gif') no-repeat 3px 3px;margin:0 4px 3px 3px}
		.prod ul.news li {background:transparent url('/images/e3/e3_icon_news_general.gif') no-repeat 0 3px}
		.prod img {border:0}

/* Custom sidebar colors */
	#dmn.wrapper .vas-sidebar .prod p.price span {color:#FF6D01}
	#idp.wrapper .vas-sidebar .prod p.price span {color:#4FA12D}
	#vas-dmn.prodWrap a {padding:1px;background:transparent url('/images/e3/e3_icon42_domain.gif') no-repeat 1px 1px;border:0;padding-left:44px;display:block}
	#vas-wsg.prodWrap a {padding:1px;background:transparent url('/images/e3/e3_icon42_webhosting.gif') no-repeat 1px 1px;border:0;padding-left:44px;display:block}
	#vas-wsc.prodWrap a {padding:1px;background:transparent url('/images/e3/e3_icon42_websitecreator.gif') no-repeat 1px 1px;border:0;padding-left:44px;display:block}
	#vas-ssl.prodWrap a {padding:1px;background:transparent url('/images/e3/e3_icon42_sslcerts.gif') no-repeat 1px 1px;border:0;padding-left:44px;display:block}
	.stepWrap textarea#DomainList {width:300px;float:left;display:block;margin:0 10px 10px 0}
		.stepWrap p.preconfigCaveat {float:left}
		.stepWrap, .dns-svc-wrap {border:1px #ccc solid;padding:10px;margin:5px 0 15px 0}
		.stepWrap p {margin-top:3px}
		.stepWrap#add-idp  {background:#DFF8D5 url('/images/e3/e3_icon50_IDP.gif') no-repeat 10px 10px;padding-left:70px}
		.stepWrap#add-idp h3 {color:#4FA12D;margin-top:0}
		.stepWrap#add-idp h3 span {font-style:italic;font-weight:normal}
		.stepWrap#add-idp h3 strong {font-style:italic;font-weight:bold}
	#TB_ajaxContent {text-align:center;margin:0 auto}
	#da_msg, #dc_msg {text-align:left;font-family:verdana;font-size:14px;margin:10px 0;font-weight:normal}
		#da_msg p, #dc_msg p {font-size:14px}
	.btn_long, .btn_short {background:transparent url('/images/btn_bg_long.gif') no-repeat 0 0;width:114px;height:22px;border:0;color:#254685;font-weight:bold}
	.submitWrapper {margin:0 auto;text-align:center}

/* Home Page Promos */
	dl#home-promos dt {font-weight:bold;padding-left:10px;background:transparent url('/images/e3/e3_dotarrow_rht_blu.gif') no-repeat 2px 3px;margin: 0 0 2px 0}
		dl#home-promos dd {margin:0 0 12px 0}

/* My eNom Promos */
	#reseller-promos dt, #reseller-promos dd {padding:0 0 10px 0;margin:0}
		#reseller-promos dt {font-weight:bold;padding-left:0;font-size:13px;margin-top:4px}
		#reseller-promos dd {border-bottom:2px #ccc solid;padding-bottom:15px}
		#reseller-promos dd#rp-mobi {background:transparent url('/images/ThirdPartyLogos/images/mobi2.gif') no-repeat 0 0;padding-left:93px}
		#reseller-promos dd#rp-asia {background:transparent url('/images/e3/dotASIA-mini.jpg') no-repeat;padding-left:93px}
		#reseller-promos dd#rp-info {background: transparent url('/images/ThirdPartyLogos/images/dotinfo_logo.gif') no-repeat 0 0;padding-left:93px}
		#reseller-promos dd#rp-tv {background: transparent url('/images/reseller_graphic_assets/dottv_logo_graphic_trans.gif') no-repeat 20px -5px;padding-left:93px}
		#reseller-promos dd#rp-idp {background: transparent url('/images/e3/e3_icon42_IDP.gif') no-repeat 25px 2px;padding-left:93px}
		#reseller-promos dd#rp-linux {background: transparent url('/images/e3/e3_icon42_webhosting.gif') no-repeat 25px 2px;padding-left:93px;border-bottom:0}
		#reseller-promos dd#rp-dom {background: transparent url('/images/e3/e3_icon42_domain.gif') no-repeat 25px 2px;padding-left:93px}
	
/* Check a List */
	#checkList {border-collapse:collapse;border-bottom:3px #aaa solid;width:100%;vertical-align:top;margin-bottom:10px}
		#checkList td, #checkList th {padding:6px 10px 3px 3px;vertical-align:top;text-align:left}
		#checkList td  {border-bottom:2px #fff solid}
		#checkList td.name, #checklist th.name {padding-left:10px;padding-right:10px}
		#checkList td.avail, #checklist th.avail {width:100%}
		#checkList th  {padding:6px 10px 3px 0;background:#aaa}
		#checkList span.premDotTV {color:red;font-weight:bold}
		#checkList th.checkSelect, #checkList td.checkSelect {padding:4px;width:30px;text-align:center}


/* Tab Bar Styles */
	.tabBar {} /* 11 items */
		.tabBar TABLE {margin-left:10px;border:0;padding:0}
		.tabBar TD {background-image:url('/images/tab_corner_lft.gif');background-position:left top;background-repeat:no-repeat;padding:0;background-color:#E5E5E5}
		.tabBar DIV {background-image:url('/images/tab_corner_rht.gif');background-position:right top;background-repeat:no-repeat;padding:2px 9px}
		#content_wrap .tabBar A:Link, #content_wrap .tabBar A:Active, #content_wrap .tabBar A:Visited {font-weight:bold;text-decoration:none !IMPORTANT} 
		#content_wrap .tabBar A:Hover {font-weight:bold;text-decoration:none !IMPORTANT;color:#666}
		#content_wrap .tabBar TD.on {background-color:#345699}
		#content_wrap .tabBar TD.on A:Link, #content_wrap .tabBar TD.on A:Active, #content_wrap .tabBar TD.on A:Visited, #content_wrap .tabBar TD.on A:Hover {font-weight:bold;text-decoration:none !IMPORTANT;color:#FFF}
		.tabBar #tvTab {background-color:#93A902;color:#fff}
		.tabBar #tvTab A:Link, .tabBar #tvTab A:Active, .tabBar #tvTab A:Visited {font-weight:bold;text-decoration:none !IMPORTANT;color:#FFF} 
		.tabBar #tvTab A:Hover {font-weight:bold;text-decoration:none !IMPORTANT;color:#CCC}

	.subtabBar {padding:2px 5px} /* 7 items */
		.subtabBar A:Link, .subtabBar A:Active, .subtabBar A:Visited {font-weight:bold;text-decoration:none !IMPORTANT}
		.subtabBar A:Hover {text-decoration:underline !IMPORTANT}


/* dotTV styles */
	#dotTV_lcol {float:left;width:530px} /* 4 items */
		#dotTV_lcol H2 {color:ff7E00}
	#dotTV_rcol {float:right;width:200px;background-color:#F5F7F9;border:1px solid #93A902}
		#dotTV_rcol H3 {padding:8px 10px 0px 10px}
		#dotTV_rcol P {padding:0px 10px}
	#dotTV_price {font-size:12px;font-weight:bold;color:#345699;padding:8px 0} /* 2 items */
	#dotTV_buyInfo {font-size:10px;padding:8px 0} /* 1 item */
	#dotTV_notes {font-size:10px;font-weight:bold;color:#444E61} /* 1 item */
		#dotTV_notes LI {font-size:10px;margin:0;padding:0;font-weight:bold;list-style-type:none;background:none}
	.dotTV_rule {border-top:1px solid #999;padding:8px 0} /* 3 items */


/* Misc. Styles */

	.lgray, A.lgray, A.lgray:Link, A.lgray:Visited {color:#EEE} /* 1275 items */
		A.lgray:Hover, A.lgray:Active {color:#4B7FE4}
	.lgrayAct, A.lgrayAct, A.lgrayAct:Link, A.lgrayAct:Visited {color:#999} /* 10 items */
		A.lgrayAct:Hover, A.lgrayAct:Active {color:#4B7FE4}
	.dgray, A.dgray, A.dgray:Link, A.dgray:Visited {color:#999} /* 278 items */
		A.dgray:Hover, A.dgray:Active {color:#4B7FE4}
	.lblue, A.lblue, A.lblue:Link, A.lblue:Visited {color:#4B7FE4} /* 3 items */
		A.lblue:Hover, A.lblue:Active {color:#345699}
	.alertLink, A.alertLink, A.alertLink:Link, A.alertLink:Visited {font-size:14px;color:#BE0005} /* 27 items */
		A.alertLink:Hover, A.alertLink:Active {font-size:14px;color:#4B7FE4}
	.red, A.red, A.red:Link, A.red:Visited {color:#BE0005} /* 2098 items */
		A.red:Hover, A.red:Active {color:#4B7FE4}
	.green, A.green, A.green:Link, A.green:Visited {color:#009000} /* 34 items */
		A.green:Hover, A.green:Active {color:#4B7FE4}
	.medTextgreen, A.medTextgreen, A.medTextgreen:Link, A.medTextgreen:Visited {font-size:13px;color:#060} /* 5 items */
		A.medTextgreen:Hover, A.medTextgreen:Active {font-size:13px;color:#4B7FE4}
	.complete, A.complete, A.complete:Link, A.complete:Visited {color:#000} /* 1 item */
		A.complete:Hover, A.complete:Active {color:#345699}
	.white, A.white, A.white:Link, A.white:Visited {color:#FFF} /* 105 items */
		A.white:Hover, A.white:Active {color:#345699}

	.newred {color:#BE0005} /* 4 items */
	.blue {color:#345699} /* 311 items */
	.yellow {color:#ffC000} /* 104 items */
	.gray {color:#ccc} /* 45 items */
	.black {color:#000} /* 6 items */
	.dkstblue {color:#0F3072} /* 2 items */
	.orange {color:#FF6C00} /* 22 items */
		
	.colorAUC {color:#93A902} /* 9 items */
	.colorDOM {color:#FF6D01} /* 34 items */
	.colorMON {color:#E60000} /* 1 item */
	.colorETP {color:#144682} /* 38 items */
	.colorSSL {color:#845731} /* 3 items */
	.colorWSC {color:#36C} /* 7 items */
	.colorHOS {color:#F60} /* 12 items */
	.colorIDP {color:#4FA12D} /* 1 item */
	.colorEPK {color:#C2A02C} /* 2 items */
	
	.smallText {font-size:10px;line-height:12px} /* 765 items */
	.smallTextred {font-size:10px;line-height:12px;color:#BE0005} /* 50 items */
	.smallTextlgray {font-size:10px;line-height:12px;color:#eee} /* 1 item */
	.smallTextgreen {font-size:10px;line-height:12px;color:#009000} /* 13 items */
	.smallTextblack {font-size:10px;line-height:12px;color:#000} /* 2 items */
	.smallTextorange {font-size:10px;line-height:12px;color:#FF6C00} /* 3 items */
	.smallTextdgray {font-size:10px;line-height:12px;color:#999} /* 45 items */

	.medText {font-size:13px} /* 495 items */
	.medTextred {font-size:13px;color:#BE0005} /* 200 items */
	.medTextyell {font-size:13px;color:#ffC000} /* 15 items */
	.medTextlgray {font-size:13px;color:#eee} /* 62 items */

	.medTextwhite {font-size:13px;color:#fff} /* 12 items */
	.medTextorange {font-size:13px;color:#FF6C00} /* 13 items */
	.medTextETP {font-size:13px;color:#144682} /* 11 items */
	
	.bigText {font-size:16px} /* 84 items */
	.bigTextred {font-size:16px;color:#BE0005} /* 16 items */
	.bigTextyell {font-size:16px;color:#ffC000} /* 1 item */
	.bigTextlgray {font-size:16px;color:#eee} /* 9 items */
	.bigTextorange {font-size:16px;color:#FF6C00} /* 3 items  */
	
	.orangeStrike {text-decoration:line-through;font-family:"Times New Roman", Times, serif;color:#FF6C00} /* 11 items */
	
	.yellowBack {background:#ffC000} /* 43 items */
	.lgrayBack {background:#EEE} /* 1056 items */
	.grayBack {background:#CCC} /* 476 items */
	.dgrayBack {background:#999} /* 22 items */
	.greenBack {background:#009000} /* 6 items */
	.blackBack {background:#000} /* 3 items */
	.blueBack {background:#345699} /* 593 items */
	.mblueBack {background:#6482BD} /* 15 items */
	.lblueBack {background-color:#F0F4F8} /* 286 items */
	.redBack {background:#BE0005} /* 9 items */
	.orangeBack {background:#FF6C00} /* 4 items */
	.AUCBack {background:#93A902} /* 3 times */
	.DOMBack {background:#F1B503} /* 11 items */
	.ETPBack {background:#144682} /* 3 items */
	.HOSBack {background:#F60} /* 49 items */
	.EPKBack {background:#C2A02C} /* 22 items */
	.BlogBack1 {background:#6B20B8} /* 4 items */
	
	.dotsBack, TH.dotsBack {background:url('/images/e3/e3_bg_dotline_btm.gif') repeat-x bottom} /* 16 items */
		TH.dotsBack {text-align:left;padding:6px 6px 8px 6px;background-color:#345699}
		Div.dotsBack {background:#345699 url('/images/e3/e3_bg_dotline_btm.gif') repeat-x bottom;height:3px;font-size:0}
	.dotsBackTop, TD.dotsBackTop, TH.dotsBackTop {background:url('/images/e3/e3_bg_dotline_btm.gif') repeat-x bottom} /* 130 items */
		TH.dotsBackTop {text-align:left;padding:6px 6px 8px 6px;background-color:#345699}
		Div.dotsBackTop {background:#345699 url('/images/e3/e3_bg_dotline_btm.gif') repeat-x bottom;height:6px;font-size:0}
	.dotsBackBtm, TD.dotsBackBtm {background:url('/images/e3/e3_bg_dotline_btm.gif') repeat-x bottom} /* 127 items */
		Div.dotsBackBtm {background:url('/images/e3/e3_bg_dotline_btm.gif') repeat-x bottom;height:3px;font-size:0}
		
	.clear {clear:both}
	.underline {text-decoration:underline} /* 6 items */
	.nopad {padding:0} /* 6 items */
	.new {color:#BE0005;font-style:italic;font-weight:bold} /* 5 items */
	.newBlue {color:#345699;font-style:italic;font-weight:bold} /* 2 items */
	.content {font-size:11px} /* 32 items */
	.sm {font-size:11px;font-style:normal;font-family:trebuchet ms, verdana, Arial, Helvetica, sans-serif} /* 25 items */
	.textNotice {font-weight:bold;font-size:12px;color:#345699;font-style:normal;font-family:verdana, Arial, Helvetica, sans-serif} /* 11 items */
	.textErr {font-weight:bold;font-size:12px;color:#BE0005;font-style:normal;font-family:verdana, Arial, Helvetica, sans-serif} /* 394 items */
	.N61Box {border-width:1px;color:#339;font-family:Arial, Helvetica, sans-serif} /* 3 items */
	.dropheader {color:#339;font-family:Arial, Helvetica, sans-serif;font-size:10px} /* 1 item */
	.List11 {margin:0px;padding:5px;font:normal 11px Verdana, Arial, Helvetica, sans-serif} /* 3 items */
		.List11 LI {padding:0 0 0 10px;color:#666;font:normal 11px Verdana, Arial, Helvetica, sans-serif;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0px 3px;list-style-type:none} /* 13 times */
	.top2 {background:url('/images/tableframe_top.gif')} /* 1 item */
	.left2 {background:url('/images/tableframe_left.gif')} /* 2 items */
	.right2 {background:url('/images/tableframe_right.gif')} /* 2 items */
	.HighLight {background-color:#d6d8e8} /* 20 items */
	.bold {font-weight:bold} /* 43 items */
	.italic {font-style:italic} /* 2 items */
	.left {text-align:left} /* 31 items */
	.right {text-align:right} /* 14 items */
		TD.right {padding:2px} /* 3 items */
	.big {font-size:110%} /* 39 items */
	.small {font-size:90%} /* 66 items */
	.smallest {font-size:70%} /* 5 items */
	.help {cursor:help} /* 132 items */
	.line {text-decoration:underline !IMPORTANT} /* 2 Items */
	.folderPopup {background-color:white;border:2px solid #666;width:100px} /* 1 item */
	
	.clr1_40, A:Link.clr1_40, A:Visited.clr1_40, A:Active.clr1_40 {color:#999} /* 73 items */
	.clr1_20, A:Link.clr1_20, A:Visited.clr1_20, A:Active.clr1_20 {color:#CCC} /* 8 items */
	.clr1_0, A:Link.clr1_0, A:Visited.clr1_0, A:Active.clr1_0 {color:#FFF} /* 92 items */
	
	.clrBk1_40 {background-color:#999} /* 2 items */
	.clrBk1_30 {background-color:#B2B2B2} /* 3 items */
	.clrBk1_20 {background-color:#CCC} /* 24 items */
	.clrBk1_10 {background-color:#E5E5E5} /* 12 items */
	.clrBk1_5 {background-color:#F2F2F2} /* 3 items */
	.clrBk1_0 {background-color:#FFF} /* 7 items */
	
	.clr2_100, A:Link.clr2_100, A:Visited.clr2_100, A:Active.clr2_100 {color:#345699} /* 45 items */
	A:Hover.clr2_60H {color:#859AC2} /* 3 items */
	A:Hover.clr2_20H {color:#D6DDEB} /* 2 items */
	
	.clrBk2_100 {background-color:#345699} /* 21 items */
	.clrBk2_80 {background-color:#5D78AD} /* 21 items */
	.clrBk2_70 {background-color:#7188B7} /* 4 items */
	.clrBk2_20 {background-color:#D6DDEB} /* 6 items */
	
	.clr3_100, A:Link.clr3_100, A:Visited.clr3_100, A:Active.clr3_100 {color:#FFC000} /* 65 items */
	A:Hover.clr3_100H {color:#FFC000} /* 43 items */
	
	.clrBk3_100 {background-color:#FFC000} /* 3 items */
	.clrBk3_60 {background-color:#FFD966} /* 2 items */
	.clrBk3_10 {background-color:#FFF9E5} /* 5 items */
	
	.bulkPricing TH {color:#FFF;background:#6699cc;font:bold 12px verdana,Arial,Helvetica,sans-serif;text-align:left} /* 1 item */
		.bulkPricing .free {color:#FFF;background:#990000}
		.bulkPricing .bullet {text-align:right}

	/* .DOM UL, UL.DOM {margin:0;padding:5px} /* 17 items */
		.DOM LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.DOM .TITLE,.DOM .TITLE EM {color:#FF6D01}
		.DOM H4 {color:#FF6D01}
		
	.ETP UL, UL.ETP {margin:0;padding:5px} /* 37 items */
		.ETP LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.ETP .TITLE,.ETP .TITLE EM {color:#144682}
		.ETP .ETPcolor {color:#144682}
	
	.SSL UL, UL.SSL {margin:0;padding:5px} /* 3 items */
		.SSL LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.SSL .TITLE,.SSL .TITLE EM {color:#845731}
		
	.WSC UL, UL.WSC {margin:0;padding:5px} /* 18 items */
		.WSC LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.WSC .TITLE,.WSC .TITLE EM {color:#36C} 
		
	.IDP UL, UL.IDP {margin:0;padding:5px} /* 9 items */
		.IDP LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.IDP .TITLE,.IDP .TITLE EM {color:#4FA12D}
		
	.HOS UL, UL.HOS {margin:0;padding:5px} /* 12 items */
		.HOS LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px} 
		.HOS .TITLE,.HOS .TITLE EM {color:#F60}
		
	.TLS UL, UL.TLS {margin:0;padding:5px} /* 2 items */
		.TLS LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.TLS .TITLE,.TLS .TITLE EM {color:#AA2E4B}
		
	.EPK UL, UL.EPK {margin:0;padding:5px} /* 10 items */
		.EPK LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.EPK .TITLE,.EPK .TITLE EM {color:#C2A02C}
		
	.Blog UL, UL.Blog {margin:0;padding:5px} /* 1 item */
		.Blog LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}
		.Blog .TITLE,.Blog .TITLE EM {color:#6B20B8} 
		
	.SEG UL, UL.SEG {margin:0;padding:5px} /* 9 items */
		.SEG LI {margin:4px 0;padding:0 0 0 10px;list-style-type:none;background:url('/images/e3/e3_dotarrow_rht_ETP.gif') no-repeat 0 3px}

	.TITLE {font-size:24px;margin:0} /* 58 items */
		.TITLE EM {font-size:20px;line-height:10px;font-weight:normal}

	.CFT A, .CFT A:Link, .CFT A:Active, .CFT A:Visited {color:#FFF;text-decoration:none;font:bold 11px} /* 45 items */
		.CFT A:Hover {color:#FFF;text-decoration:underline;font:bold 11px}

	.eNews {border:none;padding:0;width:100%;margin:10px 0} /* 212 Items */
		.eNews .EN1 {padding:18px 10px;width:39px;vertical-align:top;background-color:#F0F4F8}
		.eNews .EN2 {padding:15px 10px 15px 0;vertical-align:top;width:100%;background-color:#F0F4F8}
		.eNews .EN3 {padding:4px 10px;width:39px;vertical-align:top}
		.eNews .EN4 {vertical-align:top;width:100%}
