body {
	margin:0px;
	padding:0px;
	background-color:#EBEBEB
}
form {
	margin:0px;
	padding:0px
}
td {
	vertical-align:top;
	font-family:Tahoma, Verdana, sans-serif;
	font-size:11px;
	color:#797979
}
#header {
	background-color:#01738D;
	background-image:url(images/header-bg.jpg)
}
#navigation {
	background-color:#000000
}
#content {
	background-color:#FFFFFF;
	padding:11px 0px 11px 0px
}
#footer {
	background-color:#FFFFFF;
	border-top:2px solid #000000;
	border-bottom:4px solid #B6B6B6
}
#footer .bottom_navigation {
	color:#595959;
	margin:0px 0px 5px 0px
}
#footer a {
	color:#595959;
	text-decoration:none;
	margin:0px 8px 0px 8px
}
#footer a:hover {
	text-decoration:underline
}
#footer {
	color:#949494
}
#footer .container {
	margin:10px;
	text-align:center
}
#left_column {
	background-color:#333333;
	background-image:url(images/left-corner.gif);
	background-repeat:no-repeat;
	background-position:right top
}
#left_column .container {
	margin:8px 11px 8px 11px
}
#right_column .container {
	margin:8px 11px 8px 11px
}
#logo {
	margin:61px 0px 0px 33px
}
#header_text .container {
	color:#FFFFFF;
	margin:6px 0px 0px 33px;
	width:231px
}
#header_links .container {
	margin:16px 0px 0px 0px
}
#header_links a {
	text-decoration:underline;
	background-image:url(images/bullet.gif);
	background-repeat:no-repeat;
	background-position:3px 6px;
	margin:0px 10px 0px 0px;
	padding:1px 3px 2px 10px;
}
#header_links a:hover {
	text-decoration:underline;
}
#sample_template {
	background-color:#F0F0F0;
	border-bottom:4px solid #C6C6C6;
	color:#797979;
}
#sample_template .container {
	margin:0x 8px 8px 8px
}
#affiliate_login {
	background-color:#1F1F1F;
	color:#9F9F9F;
	background-image:url(images/affiliate-login-tile.gif)
}
#affiliate_login .container {
	margin:3x 15px 3px 15px
}
#affiliate_login .input_style {
	background-color:#CACACA;
	width:87px;
	height:20px;
	font-family:Tahoma, Verdana, sans-serif;
	font-size:11px;
	color:#4E4E4E
}
#search_form {
	background-color:#E8E8E8;
	background-image:url(images/search_engine.gif);
	color:#6B6B6B;
	background-repeat: no-repeat;
	padding:28px 0px 6px 0px;
	border-bottom:4px solid #C5C5C5;
}
.input_style {vertical-align:middle}
.input_style option {color:#5E6E7B;font-family:Tahoma, Verdana, sans-serif;font-size:11px}
.input_style select {color:#5E6E7B;font-family:Tahoma, Verdana, sans-serif;font-size:11px}
.input_style input {height:20px;color:#5E6E7B;font-family:Tahoma, Verdana, sans-serif;font-size:11px}
.header_image img {
	margin:18px 0px 4px 0px
}
.line_style {
	background-color:#DDDDDD;
}
.category_list ul {margin:0px;padding:10px 0px 10px 38px;list-style-image:url(images/bullet-c.gif)}
.category_list a {color:#9A9A9A;text-decoration:none}
.category_list a:hover {text-decoration:underline}
.category_list li {padding:0px 0px 0px 0px}
#product_list {
	background-color:#F0F0F0;
	border-bottom:4px solid #C6C6C6;
	color:#797979;
}
#product_list ul {
	margin:0;
	padding:0px 0px 0px 14px;
	list-style-type:disc;
	color:#797979;
}
#product_list a {
	color:#797979;
	font-weight:bold;
	text-decoration:none;
}
#product_list a:hover {
	text-decoration:underline;
}
#bottom_banners {
	text-align:center;
	background-color:#F5F5F5;
	border:2px solid #E7E7E7;
	padding:23px 0px 23px 0px;
}
H1{
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 6px;
}
BLOCKQUOTE{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/*** COMMON COLORS ****/
.font-dark {color:#C53800}
.font-light{color:#FF7100}
.bg-dark {background-color:#C53800}
.bg-light{background-color:#FF7100}
A        {color: #2969A4}
A:hover  {color: Blue}
A:visited{color: #5281BD}
H1,H2,H3,H4{color: #F66520}
.rightBar{color: #E66900}
.leftMenu LI{color:#EE6900}
.leftMenu A {color:#2969A4}
.leftMenu A:visited{color: #255E93}
.leftMenu A:hover  {color: Blue}
.categoryList A{color:#000000}
.categoryList A:visited{color:#000000}
.button{
	color: White;
	background-color: #EE6900;
}

.footer A:visited{color: #393939}
.footer A:hover{color: Blue}
.footer A{color: Black}